[submodule "vec3"]
	path = vec3
	url = https://github.com/water-chika/vec3
[submodule "image_outputer"]
	path = image_outputer
	url = https://github.com/water-chika/image_outputer
[submodule "draw_pixels"]
	path = draw_pixels
	url = https://github.com/water-chika/draw_pixels
[submodule "measure_duration"]
	path = measure_duration
	url = https://github.com/Water-Chika/measure_duration
